<h1>
  <strong class="fs-6 text-muted">Weather for</strong>
  <br>
  <%= forecast.address %>
  <p class="font-monospace fs-6"><%= forecast.zipcode %></p>

  <% unless forecast.expired? %>
      <span class="badge bg-light text-dark fs-6 align-middle ms-3">
        Cached – Next refresh in
        <%= distance_of_time_in_words(forecast.expiry_date, Time.current) %>
      </span>
  <% end %>
</h1>

<div>
  <% if forecast.data.present? %>
    <%= render 'forecast_data', forecast: forecast %>
  <% else %>
    <p>No forecast data available yet...refreshing</p>
    <script>
      setTimeout(function() {
        window.location.reload();
      }, 1000);
    </script>
  <% end %>
</div>
