<h1>
  <strong class="fs-6 text-muted">Weather for</strong>
  <br>
  <%= forecast.address %>

  <% unless forecast.expired? %>
      <span class="badge bg-light text-dark fs-6 align-middle ms-3">
        Cached – Next refresh in
        <%= distance_of_time_in_words(forecast.expiry_date, Time.current) %>
      </span>
  <% end %>
</h1>

<div>
  <% if forecast.data.present? %>
    <%= render 'forecast_data', forecast: forecast %>
  <% else %>
    <p>No forecast data available yet...</p>
  <% end %>
</div>
